{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/urembo.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Services</title>

</head>
<body>
<h2>Services I Provide</h2>
<img src="{% static 'images/mango.jpeg' %}" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda atque aut, corporis cum cumque exercitationem facilis fugit harum labore modi molestiae non odio recusandae sint veritatis voluptas? Et, libero?</p>
</body>
</html>